:root {
    --transparent: rgba(255, 255, 255, 0);
    --color_oscuro: #342c2a;
    --color_claro: white;
    --color_principal: #ffaa0d;
    --color_principal_claro: #E0CEAB;
    --color_fondo: #664C59;
}