:root {
    --transparent: rgba(255, 255, 255, 0);
    --color_oscuro: #342c2a;
    --color_claro: white;
    --color_principal: #F29422;
    --color_principal_claro: #F2E0D0;
    --color_secundario: #F2506E;
    --color_fondo: #414059;
}